.mt-15{
    margin-top:15px;
}
.f-14{ font-size:14px !important}
.f-16 {font-size: 16px;}
.f-18 {font-size: 18px;}
.f-20 {font-size: 20px;}
.f-22 {font-size: 22px;}

.f-normal {font-weight:normal !important}
.btn-theme {
    font-weight: bold;
    border-radius: 15px;
    font-size: 16px;
    padding: 2px 15px;
    color: #000;
    border-width: 3px;
    outline: none !important
}

.bold {
        font-weight: bold;
    }
.btn-green{
    border-color:green !important;
}
.btn-green:hover{
    background-color:green !important;
}
.light-bg,.light-bg .findspace {
    background-color: #f9f9f9;
}
.py-10{
    padding-top:10px;
    padding-bottom:10px
}
/************************ Footer ****************/
#map {
    height: 100%;
}
    /* Optional: Makes the sample page fill the window. */
    html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    }
    #floating-panel {
    position: absolute;
    top: 10px;
    left: 25%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
    }
    #warnings-panel {
    width: 100%;
    height:10%;
    text-align: center;
    }

/****************** Top Navbar  *****************/
.heading_message{
    background:#fff;
}
    .heading_message input[type="text"], .heading_message input[type="password"], .login input.form-control, .heading_message select, input.form-control, .heading_message .input-group-addon,.heading_message .active,.heading_message .btn-default:hover,.findspace .input-group-addon  {
        border: 1px solid #e2db06;/*#e2db06*/
        outline: none !important;
        font-weight: bold
    }
    .heading_message input[type="submit"], .login input[type="submit"],.btn-theme,.heading_message .input-group-addon,.heading_message .active,.heading_message .btn-default:hover,.findspace .input-group-addon  {
        background-color: #e2db06 !important;
        color: #000;
        outline: none !important
    }
        .heading_message input[type="submit"]:hover, .login input[type="submit"]:hover, .btn-theme:hover {
            background-color: #dbe615
        }
.login input {
    box-shadow:none !important;
    margin:10px auto
}
.btn-transparent {
    background-color: transparent !important;
    border: 2px solid #fff !important;
}

    .btn-transparent:hover {
        background-color: #fff !important
    }

.heading_message a.nav-link {
    vertical-align: top;
    display: inline-block;
    border-radius: 20px;
    padding: 8px;
    border: none;
    cursor: pointer;
    margin: 10px 1px;
    font-weight: bold;
    font-size: 14px;
    color: #dbe615;
    text-decoration: none
}
.heading_message a.nav-link:hover{
    background-color:#e2db06;
    color:#000;
}
.siteheader{
    border-bottom:1px solid #eaeaea;
}
/************************ Home Page***********************/
.home-banner {
    background: url('./images/slider-back.jpg');
    min-height: 500px;
    padding: 40px 15px;
    background-size: cover;
    background-position:10%;
}
.home-banner .banner-box{
    max-width:300px;
    text-align:center;
    margin-left:10%
}
.home-banner .btn{
    /*border-color:#fff;*/
}
.home-banner .btn:hover{
    /*border-color: #fff;
    background-color: #fff !important;*/
    box-shadow: none;
}
.offer-block{
    padding-top:15px;
    padding-bottom:15px;
}
.searchform {
    margin-top: 400px ;
}
.findspace {
    /*background-color: #fff;*/
    padding: 20px;
    max-width: 900px;
    margin: 0px auto;
    overflow:hidden
}
    .findspace input {
        /*border:2px solid green !important;*/
        outline: none;
        box-shadow: none !important;
        max-width: 100%;
    }
.offerride {
    border: 1px solid #eaeaea;
    border-radius: 4px;
    padding: 15px;
    text-align: justify;
}
    .offerride p {
        color: #9c9c9c;
        font-size:14px;
    }

/***************************** Footer **********************/
.footer {
    background-color: #000;
    color: #fff;
    padding: 15px 0px;
}
ul.footer-list{
    list-style:none;
    list-style-type:none;
    color:#fff !important
}
ul.footer-list li{
    display:inline;
    margin: 0px 10px;
}
ul.footer-list li a{
    text-decoration:none;
    color:#fff;
}
ul.footer-list li a:hover{
    text-decoration:underline
}

/******************************* Vehicle Details ************************/
.vehicle_details p{
    font-size:18px;
    color:#888
}
.border-box{
    border:1px solid #eaeaea;
    border-radius:4px;
    padding:10px;
}
.border-bottom {
    border-bottom: 1px solid #eaeaea;
}
.vehicle_details table tr td:first-child {
    width: 25%;
    color: #0d7198;
    font-weight: bold;
}
.vehicle_details table tr td {
    border:0px !important
}
.vehicle_details .colored-text {
    color: #0d7198 !important;
}
.vehicle_details .comment, .vehicle_details .border-bottom {
    overflow: hidden
}
.vehicle_details .comment img {
    max-width: 80px;
    display: inline-block;
}
.vehicle_details a.link{
    color:#62cee1;
}