@model IEnumerable<DeliverLoad.Models.Subscription>

@{
    ViewBag.Title = "Subscriber List";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">
            Subscriber List

        </h3>

    </div>

    <div class="panel-body">
        @if (Model.Any())
        {
            <table class="table table-responsive datatable">
                <tr class="odd">
                    <th>
                        @*@Html.DisplayNameFor(model => model.Title)*@
                        Email Id
                    </th>

                </tr>

                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(model => item.EmailId)
                    </td>

                </tr>
                }

            </table>
        }
        else
        {
            <text>No Subscriber available.</text>
        }
    </div>
</div>