@{
    ViewBag.Title = "Right And ContentPolicy";
    Layout = null;
}

@*style="background:#ebebeb;"*@
<div  style="padding:5px">
    <div class="form_main">
        <div class="form_wraper" id="form_wraper">
            <div class="title">
               
                <h4>​Please read through and accept below to proceed.</h4>
            </div>
        </div>
        <div class="faq_question" style="margin:5px">
            <h2>​RIGHTS POLICY:</h2>
            <h3>Who owns the rights to my creative works, presentations and publications?</h3>
            
            <p>You own the rights to your published creative works, presentations and publications. However, this does not confer on you rights of other peoples works which you may also publish.</p>

            <h3> How much do I get paid?</h3>
            <p>You get 70​% royalties on the amount you charge for your presentations. </p>

            <h3> When do I get paid?</h3>
            <p>You get paid seven (7) days after the calendar​month for which each participant pays. It will be sent to you via PayPal.</p>

            <h3>Who pays the taxes?</h3>
            <p>​You will pay your taxes on ​your 70% royalties. However, this policy may change the more we understand the taxes required to be withheld for your country. We will update accordingly.</p>


            <h2>CONTENT POLICY:</h2>
            <p>Prohibited Content Include pornography, adult content, and obscenity depicting illegal acts or deemed to be exploitative shall be blocked or removed from the Website. See below for details regarding DeliverLoad standards. </p>

            <p>Pedophilia, Incest, Bestiality, Exploitation and Sexual Violence or Force cannot be published on this site, likewise Child Pornography and hateful material or instructional material regarding the creation of weapons of mass destruction.</p>

            <p>Private and Confidential Information: We do not allow the unauthorized publishing of people's private and confidential information, such as credit card numbers, social insurance numbers, driver's and other license numbers, and other personal information that is not publicly accessible.</p>

            <p>Impersonation: We do not allow impersonation of others through the DeliverLoad Service in a manner that is intended to or does mislead or confuse others.</p>


            <h2>Unauthorized commercial activity: </h2>
            <p>You MAY use the DeliverLoad Service to create articles for Your business or to promote Your lawful products or services that are not otherwise prohibited by Our Content Policy or Terms and Conditions of Use. </p>


            <p>We do not allow pages that have the primary purpose of redirecting visitors, acting as a bridge page, or driving traffic to another website. We also do not​ allow content that has the primary purpose of profiting from displaying ads from any publisher network, such as pages created with little or no unique content that exist only to display ads.</p>

            <h2>Unlawful use of DeliverLoad: </h2>
            <p>DeliverLoad Service cannot be used for unlawful purposes or for promotion of dangerous and illegal activities. Your account may be terminated and You may be reported to the appropriate authorities.</p>

            <p>
                Spam, malicious codes and viruses: We do not allow spamming or the transmission of malware and viruses or anything that might disrupt the DeliverLoad Service or harm our users. Spam includes, but is not limited to, sites that fail to meet the
                DeliverLoad quality guidelines due to the use or promotion of such techniques as cloaking, keyword stuffing; search engine spamming, and doorway or bridge pages.
            </p>

            <h2> Copyright: </h2>
            <p>We shall respond to clear notices of alleged copyright infringement provided by any​ user in accordance with our​ copyright infringement procedures. </p>

            <p>If the u​ser believes his/ her copyright has been infringed on the DeliverLoad Service, s/he may file a notice of infringement through the DeliverLoad web site via the DeliverLoad Help Portal contact page, or contact us directly at help@DeliverLoad.com. All reported content alleged to be the subject of infringement shall be screened in a timely manner by Us and removed, if deemed necessary</p>

            <h2>Notification: </h2>
            <p>Reports of any participant posting prohibited content can be made by using some privacy features provided, or by contacting DeliverLoads administrators at help@DeliverLoad.com. All reported content is screened in a timely fashion and, if deemed necessary, both the user and content will be removed from the site. Privacy features provided include the BLOCK participant tool and DELETE participant-comment tool.</p>

            <h4>Accept our RIGHTS & CONTENT POLICY to proceed.</h4>
        </div>
    </div>
</div>