@{
    ViewBag.Title = "Faq";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<div style="background:#ebebeb;">

    <div class="form_main">

        <!--=====Registration Form=====-->

        <div class="form_wraper" id="form_wraper">
            <div class="title">
                <h2>FAQ</h2>
            </div>

        </div>
        <div class="faq_question" style="margin:5px">
            <h3>
                What is ChitChatChannel?
            </h3>
            <p>
                ChitChatChannel.com is a new Social Network site for Unique Payable Content, where users sign-up for free and proceed to surf, view or pay for channels consisting of a series of creative works in Text, Image or Video, which other users commit to providing.
            </p>

            <img src="~/Images/FAQ/ChitChatChannel.png" class="img-responsive img-thumbnail" style="margin-bottom:10px;margin-bottom:10px"/>
            <p>Users can also get their own channels, also for free, and be their own Talk Show or Late Night Host or Publish their novels a chapter-at-a-time, run their groups, or even properly catalogue their creative works before their audience – either for free or a fee.  And if you have folks who subscribe to your short version tweets for free, why not give them the long version for a fee?</p>
            <h3>How do I subscribe to a channel?</h3>
            <p>By default, everyone logs in as a participant. On the landing page upon successfully logging in, you will see a list of channels. You can select any channel there or search for a channel number or channel name using the search box.</p>
            <h3>How can I get my own channel?</h3>
            <p>That moment you log in for the first time, you are instantly assigned your own channel number. Once in, click on ‘My Channels’ to create your channel. Upon creation you will see your assigned channel number. Easy as that!</p>
            <img src="~/Images/FAQ/AccountPage.png" class="img-responsive img-thumbnail" style="margin-bottom:10px;margin-bottom:10px" />

            <p>Note that you can also do so through the ‘My Account’ window.There, select ‘presenter’ and update. This space also enables you update your personal picture which will show alongside your preferred channel image for other participants to easily recognize you or your works.</p>
            <p>You can also have many channels. So if for example, your channel is #100.1, you can have #100.2 etc, by simply clicking on ‘Create Channel’ – as many times as you do that, as many times you are assigned decimals to your primary channel.</p>
            <p>Also, you can switch back to being a participant so as to enjoy surfing channels presented by other folks. To do so, select ‘Participant’ under ‘My Account’ and update, to become a participant once more.</p>
            <h3>Do Participants always have to pay for channels?</h3>
            <p>No. It depends on whether the channel is set as free or not. Participants can see the status of the channel from the Channel list. However, if it is payable channel, Participants can actually select that channel to get a sneak-peek of what is offered before taking a decision.</p>
            <h3>If I own a channel does ChitChatChannel have a way to invite friends?</h3>
            <p>Absolutely! As long as the presenter knows the email address of their person they would like to invite. Once you have created your channel, you will find the Invitation box under the Participants tab.</p>
            <img src="~/Images/FAQ/ChannelParticepent.png" class="img-responsive img-thumbnail bottom" style="margin-bottom:10px;margin-bottom:10px" />

            <h3>I was invited to a Channel. How can I view it?</h3>
            <p>Once you log in successfully for your first time, you will see a search box. Plug in the channel name or number and hit search to find it.</p>
            <p>If you’ve previously played around with ChitChatChannel and can’t find how to navigate back to the search-page, simply select ‘My Account’ and update yourself as a Participant upon which you will be back to the search-page window. </p>
            <h3>Who can own a channel?</h3>
            <p>
                Anyone can own a channel.
            </p>

            <h3>Why would I need a channel?</h3>
            <p>You don’t! You can simply enjoy channels. However, the ChitChatChannel team believes that everyone has some unique content. It could be some creative works or something intriguing. The key is, if they have enough friends; or are willing to grow dedicated friends who appreciate their unique content for free or a small fee ~ or perhaps a large one; then they will find having a channel worthwhile.</p>

            <h3>How do I create my content?</h3>
            <p>On your presenter landing-page, click on the hyperlink of your channel, it will open up this content page. Fill it, save, and your participants can view right away!</p>

            <img src="~/Images/FAQ/CreateContent.png" class="img-responsive img-thumbnail" style="margin-bottom:10px;margin-bottom:10px" />

            <img src="~/Images/FAQ/CreateContent2.png" class="img-responsive img-thumbnail" style="margin-bottom:10px;margin-bottom:10px" />

            <img src="~/Images/FAQ/CreateContent3.png" class="img-responsive img-thumbnail" style="margin-bottom:10px;margin-bottom:10px" />

            <h3>Need channel ideas?</h3>
            <h3>MOVIES: </h3>
            <p>
                You could be an amateur or professional movie director and have a movie you want to publish. Go for it! Upload. Invite friends. Set a price. And get 70% royalties.
            </p>
            <h3>NOVELS:  </h3>
            <p>
                You may be a writer or just thinking of becoming one. Write your book and publish in chapters. Invite friends from your Twitter, LinkedIn, Facebook accounts, etc. Set a price. Get 70% royalties on them. But you must always tell potential participants what to expect.
            </p>

            <h3>LECTURES: </h3>
            <p>You may be a lecturer or presenter of a lecture. Get your channel. Publish. Invite friends and get 70% royalties. </p>

            <h3>GROUPS:</h3>
            <p>Groups may find it a cool way of filing & shelving topics and sub-topics – and interacting with them. </p>

            <h3>REALITY SHOWS:</h3>
            <p>If you have enough followers on say, Twitter, then you may unwittingly have a few of them intrigued enough about your person to be interested in paying a fee to watch your own reality show. ChitChatChannel works with professionals around the world who can help you create your own reality show and publish – whether it is a storyline in Text & Image or in Video. If you need help, shoot us a text using the contact form on the gogagga home page.</p>

            <h3>How much can presenters charge on their channels?</h3>
            <p>Presenters can charge any amount on their channels. ChitChatChannel enables presenters to find their level of comfort, while building a paying followership and focusing on content creation. But before they do so, they would need to tell potential participants what to expect.</p>

            <h3>How is payment processed?</h3>
            <p>Payment is through PayPal’s secure platform. ChitChatChannel offers an additional layer of security throughout the website, whether or not you are interested in payable channels.</p>


        </div>
    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="js/custom.js"></script>
</div>
