
<div class="modal fade" id="myModalComment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1>Add Comment</h1>
            </div>
            <div class="modal-body">
                <div class="placeholder">

                    <div class="SubmitCommentBox">
                        <textarea style="width:100%" rows="4" name="txtComment" id="txtComment" placeholder="Write a comment"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a id="BtnComments" class="btn btn-primary">Submit</a>
                <a id="BtnClose" class="btn btn-default" data-dismiss="modal">Close</a>
            </div>
        </div>

    </div>
</div>
