@model IEnumerable<DeliverLoad.Models.TreeViewNodeVM>
@foreach (var treeNode in Model)
{
    <ul>
        @if (treeNode != null)
{
    <li id="@treeNode.NodeId">
        <a id="@treeNode.Name" href="#">@treeNode.Name</a>
        @if (treeNode.ChildNode.Count > 0)
        {
            @Html.Partial("_ChildNode", treeNode.ChildNode)
        }
    </li>
}
    </ul>
}