
<form class="navbar-form navbar" role="search">
    <div class="input-group">
        <input type="text" class="form-control" id="txtSearch" placeholder="Search load #">
        <span class="input-group-btn">
            <button class="btn btn-success btnSearchByChannel"  type="button">Search</button>
        </span>
    </div>

</form>
