@model CCC.Models.ForgotPasswordModel
@{
    ViewBag.Title = "ForgotPassword";
}


<script src="~/Scripts/plugins/bootstrap-toastr/toastr.js"></script>
<script src="~/Scripts/plugins/bootstrap-toastr/toastr.min.js"></script>
<link href="~/Scripts/plugins/bootstrap-toastr/toastr.css" rel="stylesheet" />


<style type="text/css">
    .field-validation-error {
        color: Red;
        font-size: 16px;
    }
</style>  <div style="background:#ebebeb;">
    <div class="form_main">
        <!--=====Registration Form=====-->
        <div class="form_wraper" id="form_wraper">
            <div class="title">
                <h2>Forgot password</h2>
            </div>
            
                @using (Ajax.BeginForm("ForgotPassword", "Account", new AjaxOptions() { HttpMethod = "Post", OnSuccess = "SaveSuccess", OnFailure = "SaveFailure" }))
                {
                    <div class="Email"> @Html.AntiForgeryToken() @Html.TextBoxFor(m => m.UserName, new { placeholder = "Your email."}) @Html.ValidationSummary() </div> @*<div class="Email">
                            <input type="text" name="email" id="email" placeholder="Your email." />
                        </div>*@
                    <div class="submit_button">
                        <input type="submit" name="Submit" value="Submit" id="get" class="btnforgotPassword" onclick="" />
                        <img src="~/Images/ajax-loader.gif" class="AjaxLoader" style="display:none" />
                     </div>
                }
            
        </div>

    </div>
</div>

<script type="text/javascript">
    function SaveSuccess(result) {
        $('.AjaxLoader').hide();
        parent.$.fancybox.close();
        DisplayNotification('Your password has been sent successfully. Please check your Email to get your password.', 'success');
    }
    function SaveFailure(result) {
      //  parent.$.fancybox.close();
        DisplayNotification('A user account with this email id does not exists.You need to enter a different email id', 'error');
    }
    $(document).ajaxStart(function () {
        $('.btnforgotPassword').attr('disabled', true);
        $('.AjaxLoader').show();
    });

</script>
