<!DOCTYPE html>
<html>
<head>


  
</head>

<body role="document">

    <div style="background-color: rgb(34, 34, 34);">    
        <img class="navbar-nav" src="http://132.148.132.184:81/Content/images/logo.png" style="height:55px" />        
    </div>
  
        @RenderBody()
   
</body>

</html>
