
<p>
    Dear  @ViewBag.Name,
</p>

<p>
    Your password appears below.
</p>
<p>
    Password : @ViewBag.Password
</p>
<p><a href="@ViewBag.SiteUrl">Login Now.</a></p>
<p>
    Sincerely,
</p>
<p>DeliverLoad Admin.</p>
<p>
    -------------------------------------------------This e-mail and any files transmitted with it may contain privileged or confidential information. It is solely for use by the individual for whom it is intended, even if addressed incorrectly. If you received this e-mail in error, please notify the sender; do not disclose, copy, distribute, or take any action in reliance on the contents of this information; and delete it from your system. Any other use of this e-mail is prohibited. Thank you for your compliance.
    --------------------------------------------------
</p>