<!DOCTYPE html>
<html>
<head>


  
</head>

<body role="document">

    <div style="background-color: rgb(34, 34, 34);">    
        <img class="navbar-nav" src="http://www.chitchatchannel.com/Content/images/ikeokw_transparent.jpg" style="height:55px" />        
    </div>
  
        @RenderBody()
   
</body>

</html>
