@{
    ViewBag.Title = "PaymentConfirmation";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="alert alert-success">
    <strong>Thank You!</strong> <br /> A receipt was sent to your email address

    <br />
    <p>
        Order Id : <b>@ViewBag.OrderId</b>
    </p>
</div>

